// Global styling for this template
/*
.global
{
	html,
	body 
	{
	  height: 100%;
	}

	// Set spacing on containers for page symmetry

	.container,
	.container-fluid 
	{
	  padding-left: 1rem * 1.5;
	  padding-right: 1rem * 1.5;
	}
}
*/